<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication3.Properties.Settings.GeceP3ConnectionString"
            connectionString="Data Source=79.123.228.28,5501;Initial Catalog=GeceP3;Persist Security Info=True;User ID=GecePrj3;Password=masaustugecep3"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>